/**
 * Created by user on 06.09.2019.
 */

.THIS.pagination-form{
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    display: flex;
}

.THIS .buttons-container{
    align-items: center;
}

.THIS .page-numbers{
    margin-left: 10px;
}